* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


#hero {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.navbar {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.nav-links a:hover {
    color: black; 
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
}


section {
    padding: 60px 10%;
    text-align: center;
}

.profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 15px auto;
    object-fit: cover;
}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.skill {
    background: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.skill:hover {
    transform: translatey(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.project-card {
    background: lightblue;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


form {
    max-width: 420px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, textarea {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}


@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 40px;
        background: rgba(0,0,0,0.8);
        padding: 20px;
        border-radius: 10px;
        display: none;
        flex-direction: column;
        gap: 15px;
    }

    .nav-links.open {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
